:root {
    /* --content-bg-color: rgba(0, 0, 0, 0.4); */
    --color-text: rgb(169, 235, 255);
    --main-text-color: white;
    --content-padding: 20px;
    --bordering: white solid 5px;
    --main-theme-color: rgb(0, 86, 156);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: var(--main-text-color);
    background-color: var(--main-theme-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.bordered {
    border: var(--bordering);
    border-radius: 20px;
}

.hidden {
    display: none;
}

header {
    text-align: center;
    width: 100%;
}

main {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}

#top-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

#view-high-scores, #message-box, #timer-box, #points-box {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#view-high-scores {
    flex: 0 1 20%;
}

#points-box, #timer-box {
    flex: 0 1 10%;
}

#message-box {
    flex: 1 0 30%;
    font-size: 150%;
}

#time, #points {
    font-size: 125%;
}

#quiz-box {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 40px;
}

#question-box {
    font-size: 200%;
    text-align: left;
    padding: 20px;
    flex: 0 1 50%;
}

button {
    display: block;
    font-size: inherit;
    width: 100%;
    margin-bottom: 20px;
    color: var(--main-theme-color);
    background-color: lightgray;
    font-family: inherit;
}

#answer-box {
    list-style: inside upper-alpha;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-content: space-between;
}

#answer-box > li {
    width: 47%;
    border: white solid 5px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 150%;
    text-align: left;
}

#game-messages {
    text-align: center;
    width: 100%;
}

#scoreboard {
    position: absolute;
    height: 90vh;
    width: 60vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    color: var(--main-theme-color);
    text-align: center;
    padding: 20px;
}

#scoreboard > h2 {
    margin-bottom: 30px;
}